.Card {
  width: 254px;
  height: 454px;
  background-color: #fff;
  border-radius: 5.31212px 5.31212px 0 0;
  display: flex;
  flex-direction: column;
  transition: all 0.1s ease-out;

  &:hover {
    width: 264px;
    height: 494px;
    box-shadow: 0px 0px 7px -1px #e75266;

    .card-header {
      background: linear-gradient(220.27deg, #e75266 23.91%, #ec8492 95.9%);
    }

    .features__text {
      color: #e75266;
    }

    .Button {
      background-color: #e75266;
      color: #fff;
    }
  }

  .card-header {
    height: 40%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background: linear-gradient(220.27deg, #6574ff 23.91%, #959fff 95.9%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    &__title {
      font-style: normal;
      font-weight: 400;
      font-size: 29.2166px;
      line-height: 34px;
      letter-spacing: 0.02em;
      margin: 0;
    }

    &__description {
      margin: 0;
      letter-spacing: 0.02em;
      font-size: 13.2803px;
    }

    &__price {
      font-weight: 500;
      font-size: 45.153px;
      line-height: 53px;
      letter-spacing: 0.02em;
    }

    &__price::before {
      content: "$";
      font-size: 1.5rem;
      position: relative;
      top: -19px;
      right: 3px;
      font-weight: 500;
      font-size: 21.2485px;
      line-height: 25px;
    }
  }

  .card-body {
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 16px;
    .features {
      display: flex;
      flex-direction: column;
      color: #797979;
      align-items: center;
      gap: 8px;
      &__item:last-child {
        align-self: flex-end;
      }
    }
  }
}
